@charset "UTF-8";

body{
    background-color: rgba(38, 38, 221, 0.849);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
text-align: justify;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.5em;
line-height: 1.0em;
background-color: aliceblue;
margin: 10px 10px;
padding: 10px 10px;
width: 10em;
}

h1:hover{
color: aqua;
}

div#res{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    line-height: 1.0em;  
    color: rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    height: 75px;
    width: 300px;
    margin: 10px 10px;
padding: 10px 10px;
    
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.0em; 
    margin: 10px 10px;
padding: 10px 10px;
background-color: aliceblue;
text-align: center;
width: 5em;


}


input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.0em; 
    margin: 10px 10px;
padding: 10px 10px;


}
